<ion-header>
  <ion-toolbar>
    <ion-title>Lugares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
        
        <ion-text color="dark">
          <h1>Lugares</h1>
        </ion-text>
    
      <ion-grid>
       <ion-card class="places-card" (click)="go()">
          <img class="places-img" src="../assets/img/dominos.png"/>
          <ion-card-content>
            <ion-card-title>
              Domino's Pizza
              </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-grid>  

    </div>
</ion-content>
