<ion-header>
  <ion-toolbar>
    <ion-title>
      Snack
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="ion-padding">
      
      <ion-text color="dark">
        <h1>Categorías</h1>
      </ion-text>
   
    <ion-grid>
      <ion-card (click)="go()">
        <img src="../assets/img/pizza.jpg"/>
        <div class="card-title">Pizza</div>
        <div class="card-subtitle">41 Listings</div>
      </ion-card>
    </ion-grid>  

  </div>
</ion-content>



     
 

      